Project C Speech Emotion Classification - Data Collection.ipynb
/ml/.claude/commands
/ml/.specify/memory
/ml
CNN_LSTM_EmotionRecognition_HaichenFan.ipynb
training_data_projectC.npy
training_labels_projectC.npy
